# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Virtual environment
venv/
env/

# IDE files
.vscode/
.idea/

# Logs
*.log

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Package files
*.egg
*.egg-info/
dist/
build/
